{
  "swagger": "2.0",
  "info": {
    "title": "Foo"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "definitions": {
    "def_foo": {
      "properties": {
        "prop_primitive": {}
      }
    },
    "def_regular": {
      "properties": {
        "prop_primitive": {
          "type": "string"
        },
        "prop_array_of_primitive": {
          "type": "array",
          "items": {
            "type": "int"
          }
        },
        "prop_array_of_object": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/def_foo"
          }
        },
        "prop_object": {
          "type": "object",
          "properties": {
            "prop_nested": {
              "type": "string"
            }
          }
        }
      }
    },
    "def_propInFileRef": {
      "properties": {
        "prop_inFileRef": {
          "$ref": "#/definitions/def_foo"
        }
      }
    },
    "def_propCrossFileRef": {
      "properties": {
        "prop_crossFileRef": {
          "$ref": "./bar.json#/definitions/def_bar"
        }
      }
    },
    "def_propSelfRef": {
      "properties": {
        "prop_selfRef": {
          "$ref": "#/definitions/def_propSelfRef"
        }
      }
    },
    "def_inFileRef": {
      "$ref": "#/definitions/def_foo"
    },
    "def_crossFileRef": {
      "$ref": "./bar.json#/definitions/def_bar"
    },
    "def_selfRef": {
      "$ref": "#/definitions/def_selfRef"
    },

    "def_allOf": {
      "allOf": [
        {
          "properties": {
            "prop_nested1": {},
            "prop_nested2": {}
          }
        },
        {
          "$ref": "./bar.json#/definitions/def_bar"
        },
        {
          "$ref": "#/definitions/def_allOf"
        }
      ],
      "properties": {
        "p1": {
          "allOf":[
            {
              "$ref": "./bar.json#/definitions/def_bar"
            }
          ],
          "properties" : {
            "p1_1": {}
          }
        }
      }
    },

    "def_a": {
      "allOf": [
        {
          "$ref": "#/definitions/def_foo"
        }
      ],
      "properties": {
        "p1": {
          "allOf":[
            {
              "$ref": "./bar.json#/definitions/def_bar"
            }
          ],
          "properties" : {
            "p1_1": {}
          }
        },
        "p2": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "p3": {
          "type": "array",
          "items": {
            "$ref": "./bar.json#/definitions/def_bar"
          }
        }
      }
    },
    "def_array_simple": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "def_array_ref": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/def_foo"
      }
    },
    "def_array_ref_ref": {
      "$ref": "#/definitions/def_array_ref"
    }
  }
}