{
  "swagger": "2.0",
  "info": {
    "title": "Foo"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "definitions": {
    "def_foo": {
      "properties": {
        "prop_primitive": {}
      }
    },
    "def_regular": {
      "properties": {
        "prop_primitive": {
          "type": "string"
        },
        "prop_array_of_primitive": {
          "type": "array",
          "items": {
            "type": "int"
          }
        },
        "prop_array_of_object": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/def_foo"
          }
        },
        "prop_object": {
          "type": "object",
          "properties": {
            "prop_nested": {
              "type": "string"
            }
          }
        }
      }
    },
    "def_propInFileRef": {
      "properties": {
        "prop_inFileRef": {
          "$ref": "#/definitions/def_foo"
        }
      }
    },
    "def_propCrossFileRef": {
      "properties": {
        "prop_crossFileRef": {
          "$ref": "./bar.json#/definitions/def_bar"
        }
      }
    },
    "def_propSelfRef": {
      "properties": {
        "prop_selfRef": {
          "$ref": "#/definitions/def_propSelfRef"
        }
      }
    },
    "def_inFileRef": {
      "$ref": "#/definitions/def_foo"
    },
    "def_crossFileRef": {
      "$ref": "./bar.json#/definitions/def_bar"
    },
    "def_selfRef": {
      "$ref": "#/definitions/def_selfRef"
    },

    "def_allOf": {
      "allOf": [
        {
          "properties": {
            "prop_nested1": {},
            "prop_nested2": {}
          }
        },
        {
          "$ref": "./bar.json#/definitions/def_bar"
        },
        {
          "$ref": "#/definitions/def_allOf"
        }
      ],
      "properties": {
        "p1": {
          "allOf":[
            {
              "$ref": "./bar.json#/definitions/def_bar"
            }
          ],
          "properties" : {
            "p1_1": {}
          }
        }
      }
    },

    "def_a": {
      "allOf": [
        {
          "$ref": "#/definitions/def_foo"
        }
      ],
      "properties": {
        "p1": {
          "allOf":[
            {
              "$ref": "./bar.json#/definitions/def_bar"
            }
          ],
          "properties" : {
            "p1_1": {}
          }
        },
        "p2": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "p3": {
          "type": "array",
          "items": {
            "$ref": "./bar.json#/definitions/def_bar"
          }
        }
      }
    },
    "def_b": {
      "properties": {
        "p1": {
          "properties": {
            "p1_1": {}
          }
        }
      }
    },
    "def_array_simple": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "def_array_ref": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/def_foo"
      }
    },
    "def_array_ref_ref": {
      "$ref": "#/definitions/def_array_ref"
    },

    "def_c": {
      "properties": {
        "p1": {
          "$ref": "#/definitions/def_base"
        }
      }
    },

    "def_base": {
      "discriminator" : "type",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "def_variant1",
            "def_variant2"
          ]
        }
      }
    },
    "def_variant1": {
      "x-ms-discriminator-value":"def_variant1",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_base"
        }
      ]
    },
    "variant2_def": {
      "x-ms-discriminator-value":"def_variant2",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_base"
        }
      ]
    },

    "all_of_1": {
      "allOf":[
        {
          "$ref": "#/definitions/all_of_2"
        }
      ],
      "properties": {
        "prop1": {}
      }
    },

    "all_of_2": {
      "allOf":[
        {
          "$ref": "#/definitions/def_foo"
        }
      ],
      "properties": {
        "prop2": {}
      }
    },

    "ruleCollectionGroup": {
      "properties" : {
        "ruleCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ruleCollection"
          }
        }
      }
    },

    "ruleCollection": {
      "discriminator": "ruleCollectionType",
      "properties": {
        "ruleCollectionType": {
          "enum": [
            "natRuleCollection",
            "filterRuleCollection"
          ]
        },
        "name": {}
      }
    },

    "natRuleCollection": {
      "x-ms-discriminator-value": "natRuleCollection",
      "allOf": [
        {
          "$ref": "#/definitions/ruleCollection"
        }
      ],
      "properties": {
        "action": {}
      }
    },

    "filterRuleCollection": {
      "x-ms-discriminator-value": "filterRuleCollection",
      "allOf": [
        {
          "$ref": "#/definitions/ruleCollection"
        }
      ],
      "properties": {
        "action": {}
      }
    },

    "AlertRule": {
      "allOf": [
        {
          "$ref": "#/definitions/AlertRuleKind"
        }
      ],
      "discriminator": "kind"
    },

    "AlertRuleKind": {
      "properties": {
        "kind": {
          "enum": [
            "MicrosoftSecurityIncidentCreation"
          ]
        }
      }
    },

    "MicrosoftSecurityIncidentCreationAlertRule": {
      "x-ms-discriminator-value": "MicrosoftSecurityIncidentCreation",
      "allOf": [
        {
          "$ref": "#/definitions/AlertRule"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        }
      }
    }
  }
}
